<div id="scrollable">
  <table id="table-gray-border-collapse" class="w-full">
    <thead>
      <th class="align-left p-1 bg-gray">Name</th>
      <th class="align-center p-1 bg-gray">Total Time in Month</th>
      <th class="align-center p-1 bg-gray">Actions</th>
    </thead>
    <tbody>
      @for (entry of timeEntries()??[];track entry.id){
        @if(entry.totalHoursInMonth>100){
          <tr class="selected">
            <td class="align-left p-1">{{entry.employeeName}}</td>
            <td class="align-center p-1">{{entry.totalHoursInMonth}} hrs</td>
            <td class="align-center p-1"><a href="#">Edit</a></td>
          </tr>
        } @else {
          <tr>
            <td class="align-left p-1">{{entry.employeeName}}</td>
            <td class="align-center p-1">{{entry.totalHoursInMonth}} hrs</td>
            <td class="align-center p-1"><a href="#">Edit</a></td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
<div style="height: 50px"></div>
